* {
  box-sizing: border-box;
  margin: none;
  padding: none;
}

h1 {
  font-family: monospace;
  text-align: center;
  margin-top: 5px;
  padding-top: 5px;
  font-size: 20px;
  line-height: 30px;
  color: #006;
}

#introduction {
  margin-left: 5%;
  text-align: center;
  background-color: lightgray;
  padding: 5px;
  width: 90%;
}

#introduction p {
  font-size: 10px;
  font-family: monospace;
}

main {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#game {
  margin-top: 20px;
  width: 294px;
  height: auto;
  display: flex;
  justify-content: center;
}

#win {
  visibility: hidden;
}

.columns {
  
  width: 42px;
  height: 190px;
  border: #aaa solid 2px;
  border-right: none;
  margin: 0;
}

#column7 {
  border-right: #aaa solid 2px;
}

.green {
  background-color: #008000;
}

.blue {
  background-color: #0000ff;
}

#playerDiv {
  display: flex;
  justify-content: center;
  align-items: center;
}

#player {
  background-color: green;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  margin-left: 20px;
}
